:root {
  --primary-font-family: "Roboto", sans-serif;
  --secodary-font-family: "Raleway", sans-serif;
  --btn-primary-color: #2196f3;
  --btn-secondary-color: #188ce8;
  --btn-text-color: #ffffff;
  --links-secondary-color: #2196f3;
  --primary-text-color-dark: #212121;
  --primary-text-color-light: #757575;
  --primary-text-color-white: #ffffff;
  --footer-links-primary-color: rgba(255, 255, 255, 0.6);
  --primary-background-color: #ffffff;
  --modal-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --hero-background-color: #2f303a;
  --hero-background-gradient-color: rgba(47, 48, 58, 0.4);
  --service-background-color: rgba(47, 48, 58, 0.8);
  --logo-first-part-color: #2196f3;
  --header-border-color: #ececec;
  --button-shadow-color: rgba(0, 0, 0, 0.15);
  --portfolio-cards-border-color: #eeeeee;
  --btn-shadow-color-one: rgba(0, 0, 0, 0.1);
  --btn-shadow-color-two: rgba(0, 0, 0, 0.08);
  --btn-shadow-color-three: rgba(0, 0, 0, 0.12);
  --employee-box-shadow-color-one: rgba(0, 0, 0, 0.12);
  --employee-box-shadow-color-two: rgba(0, 0, 0, 0.14);
  --employee-box-shadow-color-three: rgba(0, 0, 0, 0.2);
  --modal-box-shadow-color-one: rgba(0, 0, 0, 0.12);
  --modal-box-shadow-color-two: rgba(0, 0, 0, 0.14);
  --modal-box-shadow-color-three: rgba(0, 0, 0, 0.2);
  --social-items-primary-color: #afb1b8;
  --social-items-secondary-color: #ffffff;
  --social-items-secondary-background: #2196f3;
  --client-icon-secondary-color: #2196f3;
  --overlay-background-color: rgba(33, 150, 243, 0.9);
  --backdrop-background-color: rgba(0, 0, 0, 0.2);
  --footer-social-background-color: rgba(255, 255, 255, 0.1);
  --card-shadow-color-one: rgba(0, 0, 0, 0.12);
  --card-shadow-color-two: rgba(0, 0, 0, 0.06);
  --card-shadow-color-three: rgba(0, 0, 0, 0.16);
  --modal-close-button-border-color: rgba(0, 0, 0, 0.1);
  --contact-form-input-border-color: rgba(33, 33, 33, 0.2);
  --mobile-menu-border-color:rgba(33, 33, 33, 0.2);
  --primary-form-icon-color-dark: #212121;
  --form-input-secondary-color: #2196f3;
  --placeholder-text-color: rgba(117, 117, 117, 0.5);
  --footer-email-input-border-color: rgba(255, 255, 255, 0.3);
  --backdrop-close-btn-primary-color: #000000;
  --backdrop-close-btn-secondary-color: #2196f3;
  --icon-color-dark: #212121;
}

.section-title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
  }
}

.button-wrapper, .backdrop__modal-close-btn, .backdrop__modal-contact-form-checkbox-label, .social-links__link, .header__container, .hero.section, .advantages__pic-positioning, .service__name, .clients__link, .footer__form-input::placeholder, .footer__modal-button {
  display: flex;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--primary-font-family), sans-serif;
  color: var(--primary-text-color-dark);
  background-color: var(--primary-background-color);
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.links {
  text-decoration: none;
}

.btn {
  border-color: transparent;
}

.btn-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: var(--secodary-font-family);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--primary-text-color-dark);
  letter-spacing: 0.03em;
}

.logo__fpart {
  color: var(--logo-first-part-color);
}

@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
  }
  .contacts__item {
    line-height: 0px;
  }
  .contacts__link {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
  }
  .contacts__link:hover > .contacts__phone-icon,
  .contacts__link:focus > .contacts__phone-icon,
  .contacts__link:hover > .contacts__mail-icon,
  .contacts__link:focus > .contacts__mail-icon,
  .contacts__link:focus > .contacts__link-text,
  .contacts__link:hover > .contacts__link-text {
    fill: var(--links-secondary-color);
    color: var(--links-secondary-color);
  }
  .contacts__link-text {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-light);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
  }
  .contacts__mail-icon {
    width: 14px;
    height: 10px;
    fill: var(--primary-text-color-light);
    margin-right: 8px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
  }
  .contacts__phone-icon {
    width: 10px;
    height: 14px;
    fill: var(--primary-text-color-light);
    margin-right: 8px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
  .contacts__link-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
  }
  .contacts__mail-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
  .contacts__phone-icon {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: var(--primary-background-color);
    opacity: 0;
    overflow: auto;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    fill: var(--backdrop-close-btn-primary-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
  }
  .mobile-menu__close-btn:hover > .mobile-menu__close-icon,
  .mobile-menu__close-btn:focus > .mobile-menu__close-icon {
    fill: var(--links-secondary-color);
  }
  .mobile-menu__container {
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .mobile-menu__social-links-wrapper {
    display: block;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .mobile-menu__container {
    overflow-x: hidden;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu__list-link {
    font-style: normal;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-dark);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
  }
  .mobile-menu__list-link:hover, .mobile-menu__list-link:focus {
    color: var(--links-secondary-color);
  }
  .mobile-menu__list-item:not(:last-child),
  .mobile-menu__contacts-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__contacts {
    display: flex;
    flex-direction: column;
  }
  .mobile-menu__contacts-item:not(:last-child) {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.18;
    color: var(--links-secondary-color);
    letter-spacing: 0.02em;
  }
  .mobile-menu__contacts-item:last-child {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    color: var(--primary-text-color-light);
    letter-spacing: 0.02em;
  }
  .mobile-menu__social-list {
    margin-top: 64px;
    display: flex;
    flex-direction: row;
  }
  .mobile-menu__social-links__link {
    color: var(--links-secondary-color);
    background-color: var(--primary-background-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
  }
  .mobile-menu__social-links:not(:last-child) {
    border-right: var(--mobile-menu-border-color);
    border-right-width: 1px;
    border-right-style: solid;
    padding-right: 10px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.modal-button {
  min-width: 200px;
  height: 50px;
  padding: 10px 26px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--btn-text-color);
  background-color: var(--btn-primary-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px var(--button-shadow-color);
  border-radius: 4px;
  transition-property: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover, .modal-button:focus {
  outline: none;
  background: var(--btn-secondary-color);
}

.button-wrapper {
  justify-content: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop-background-color);
  transition: opacity 350ms linear, visibility 350ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background: var(--modal-background-color);
  box-shadow: 0px 1px 3px var(--modal-box-shadow-color-one), 0px 1px 1px var(--modal-box-shadow-color-two), 0px 2px 1px var(--modal-box-shadow-color-three);
  border-radius: 4px;
  padding: 40px;
}

.backdrop__modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--modal-close-button-border-color);
  background: var(--modal-background-color);
  fill: var(--backdrop-close-btn-primary-color);
  padding: 0;
  justify-content: center;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.backdrop__modal-close-btn:hover {
  fill: var(--backdrop-close-btn-secondary-color);
}

.backdrop__modal-contact-form-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  display: flex;
}

.backdrop__modal-contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.backdrop__modal-contact-form-field {
  margin-bottom: 10px;
}

.backdrop__modal-contact-form-field-name {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color-light);
}

.backdrop__modal-contact-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.backdrop__modal-contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--contact-form-input-border-color);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.backdrop__modal-contact-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid var(--contact-form-input-border-color);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.backdrop__modal-contact-form-message::placeholder {
  color: var(--placeholder-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.backdrop__modal-contact-form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  fill: var(--primary-form-icon-color-dark);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.backdrop__modal-contact-form-input:focus + .backdrop__modal-contact-form-icon,
.backdrop__modal-contact-form-input:hover + .backdrop__modal-contact-form-icon {
  fill: var(--form-input-secondary-color);
}

.backdrop__checkbox {
  fill: var(--modal-background-color);
}

.backdrop__modal-contact-form-input:hover,
.backdrop__modal-contact-form-message:hover,
.backdrop__modal-contact-form-input:focus,
.backdrop__modal-contact-form-message:focus {
  outline: none;
  border-color: var(--form-input-secondary-color);
  fill: var(--form-input-secondary-color);
}

.backdrop__modal-contact-form-checkbox-wrapper {
  position: relative;
  margin-bottom: 15px;
}

.backdrop__modal-contact-form-checkbox-label {
  justify-content: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-light);
}

.backdrop__modal-contact-form-checkbox-label::before {
  display: inline-block;
  content: " ";
  width: 16px;
  height: 15px;
  border: 1px solid var(--primary-form-icon-color-dark);
  cursor: pointer;
  margin-right: 8px;
  margin-left: 0px;
  transition-property: border-color, background-color, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.backdrop__modal-contact-form-checkbox:checked + .backdrop__modal-contact-form-checkbox-label::before {
  background-color: var(--form-input-secondary-color);
  border-color: var(--form-input-secondary-color);
  border-radius: 2px;
}

.backdrop__modal-contact-form-checkbox:focus + .backdrop__modal-contact-form-checkbox-label::before,
.backdrop__modal-contact-form-checkbox:hover + .backdrop__modal-contact-form-checkbox-label::before {
  border-color: var(--form-input-secondary-color);
}

.backdrop__modal-contact-form-checkbox-label-spart {
  outline: none;
}

.backdrop__modal-button {
  padding: 10px 55px;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .backdrop__modal {
    width: 528px;
    height: 581px;
  }
  .backdrop__modal-contact-form-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
  }
  .backdrop__modal-contact-form-checkbox-label {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
  }
}

.section-title {
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 480px) {
  .section-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.18;
  }
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
  }
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin: 0 auto;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
}

.social-links__link_theme_light {
  fill: var(--social-items-primary-color);
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.social-links__link_theme_light:hover, .social-links__link_theme_light:focus {
  fill: var(--social-items-secondary-color);
  background-color: var(--social-items-secondary-background);
}

.social-links__link_theme_dark {
  fill: var(--social-items-secondary-color);
  background-color: var(--footer-social-background-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.social-links__link_theme_dark:hover, .social-links__link_theme_dark:focus {
  background-color: var(--social-items-secondary-background);
}

.header {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header_section_border {
  border-bottom: var(--header-border-color);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.header__container {
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .nav-list,
  .header__contacts {
    display: none;
  }
}

.header__mobile-menu-icon-btn,
.mobile-menu__close-btn {
  background-color: transparent;
  padding: 0;
  border: none;
  line-height: 0;
}

.header__mobile-menu-icon,
.mobile-menu__close-icon {
  fill: var(--icon-color-dark);
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 16px;
    padding-bottom: 15px;
  }
  .header__mobile-menu-icon-btn,
  .header__mobile-menu-icon {
    display: none;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
  }
  .nav-list {
    display: flex;
  }
  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-list__links {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-dark);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
  }
  .nav-list__links:hover, .nav-list__links:focus {
    color: var(--links-secondary-color);
  }
  .nav-list__links.current {
    color: var(--links-secondary-color);
  }
  .nav-list__links.current::after {
    position: absolute;
    display: block;
    content: "";
    background-color: var(--links-secondary-color);
    width: 100%;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px;
  }
  .header__contacts {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 24px 15px;
  }
  .header__navigation {
    margin-right: auto;
  }
  .header__logo {
    margin-right: 93px;
  }
  .header__contacts {
    display: flex;
  }
}

.hero {
  background: var(--hero-background-color);
}

.hero.section {
  flex-wrap: wrap;
}

.hero__title {
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-white);
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
}

.hero__container {
  align-content: center;
}

.hero__title-wrapper {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .hero {
    background: var(--hero-background-color);
    background-image: linear-gradient(var(--hero-background-gradient-color), var(--hero-background-gradient-color)), url("../images/images_mobile-first/hero/img_mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .hero.section {
    padding-top: 118px;
    padding-bottom: 118px;
  }
  .hero__title {
    width: 360px;
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .box {
    background-image: url("img_mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background: var(--hero-background-color);
    background-image: linear-gradient(var(--hero-background-gradient-color), var(--hero-background-gradient-color)), url("../images/images_mobile-first/hero/img_tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .box {
    background-image: url("img_tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background: var(--hero-background-color);
    background-image: linear-gradient(var(--hero-background-gradient-color), var(--hero-background-gradient-color)), url("../images/images_mobile-first/hero/img_desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .hero.section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    width: 696px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .box {
    background-image: url("img_desktop@2x.jpg");
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
}

.advantages__item {
  margin-bottom: 30px;
}

.advantages__pic-positioning {
  background-color: var(--secondary-background-color);
  justify-content: center;
  margin-bottom: 30px;
}

.advantages__item-header {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages__item-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: var(--primary-text-color-light);
  letter-spacing: 0.03em;
}

.advantages__pic-item {
  width: 70px;
  height: 70px;
  object-position: center;
}

@media screen and (min-width: 480px) {
  .advantages__pic-positioning {
    width: 450px;
    height: 120px;
  }
  .advantages__item-description {
    width: 450px;
    height: 75px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  .advantages__item {
    flex-basis: calc((100%-120px) / 4);
    margin-left: 30px;
    padding: 0px;
  }
  .advantages__pic-positioning {
    width: 354px;
    height: 120px;
  }
  .advantages__item-description {
    width: 354px;
    height: 75px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__list {
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: -30px;
  }
  .advantages__item {
    flex-basis: calc((100%-120px) / 4);
    margin-left: 30px;
  }
  .advantages__pic-positioning {
    width: 270px;
    height: 120px;
  }
  .advantages__item-description {
    width: 270px;
    height: 75px;
  }
}

@media screen and (max-width: 1199px) {
  .services__section {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .services__section {
    padding-top: 0;
  }
  .services__list.list {
    display: flex;
    margin-left: -30px;
  }
  .service__item {
    flex-basis: calc((100%-90px) / 3);
    margin-left: 30px;
  }
  .service__card {
    position: relative;
  }
  .service__name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    justify-content: center;
    color: var(--primary-text-color-white);
    background-color: var(--service-background-color);
    text-transform: uppercase;
  }
}

.employees {
  background-color: var(--secondary-background-color);
}

.employees__list.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}

.employees__item {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px var(--employee-box-shadow-color-one), 0px 1px 1px var(--employee-box-shadow-color-two), 0px 2px 1px var(--employee-box-shadow-color-three);
  border-radius: 0px 0px 4px 4px;
  margin: 15px;
}

.employees__card {
  padding-top: 30px;
  padding-bottom: 24px;
}

.employees__name {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.employees__position {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-light);
  margin-bottom: 16px;
}

@media screen and (min-width: 480px) {
  .employees__item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .employees__item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .employees__item {
    width: 270px;
  }
  .employees__card {
    padding-bottom: 30px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}

.clients__item {
  padding: 15px;
}

.clients__link {
  fill: var(--social-items-primary-color);
  justify-content: center;
  border: 1px solid var(--social-items-primary-color);
  border-radius: 4px;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.clients__link:hover, .clients__link:focus {
  fill: var(--client-icon-secondary-color);
  border-color: var(--client-icon-secondary-color);
}

@media screen and (min-width: 480px) {
  .clients__link {
    width: 210px;
    height: 92px;
  }
}

@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
    height: 92px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
    height: 92px;
  }
}

.footer {
  padding: 60px 15px;
  background-color: var(--footer-background-color);
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 60px;
}

.footer__logo-positioning {
  text-align: center;
  margin-bottom: 20px;
}

.footer__logo {
  margin: 0;
  color: var(--primary-text-color-white);
}

.footer__contacts-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__contacts-item-link {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-links-primary-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.footer__contacts-item-link:hover, .footer__contacts-item-link:focus {
  color: var(--links-secondary-color);
}

.footer__contacts-map {
  color: var(--primary-text-color-white);
}

.footer__social-links {
  margin-bottom: 60px;
}

.footer__social-links-header,
.footer__form-header {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-white);
  margin-bottom: 20px;
  text-align: center;
}

.footer__form-wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer__form-input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  background-color: var(--footer-background-color);
  border: 1px solid var(--footer-email-input-border-color);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px var(--button-shadow-color));
  border-radius: 4px;
  color: var(--primary-text-color-white);
  margin-bottom: 20px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.footer__form-input::placeholder {
  color: var(--footer-links-primary-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footer__form-input:hover, .footer__form-input:focus {
  border-color: var(--form-input-secondary-color);
}

.footer__modal-button {
  justify-content: space-between;
  padding: 10px 28px;
  margin-left: auto;
  margin-right: auto;
}

.modal-button__icon-send {
  fill: var(--primary-background-color);
}

@media screen and (min-width: 480px) {
  .footer__form-input {
    width: 450px;
    height: 50px;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
  }
  .footer__social-links {
    padding-top: 5px;
  }
  .footer__address {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    flex-wrap: nowrap;
  }
  .footer__address {
    margin-right: 70px;
    margin-bottom: 0px;
  }
  .footer__contacts-list {
    align-items: flex-start;
  }
  .footer__form {
    padding-top: 12px;
    margin-left: auto;
  }
  .footer__social-links {
    padding-top: 12px;
    margin-bottom: 0px;
  }
  .footer__logo-positioning,
  .footer__social-links-header,
  .footer__form-header {
    text-align: start;
  }
  .footer__form-wrapper {
    display: flex;
  }
  .footer__form-input {
    margin-bottom: 0px;
  }
  .footer__modal-button {
    margin-left: 12px;
  }
  .footer__form-input {
    width: 358px;
    height: 50px;
    margin-bottom: 0px;
  }
}
/*# sourceMappingURL=main.css.map */