.hero {
    background: var(--hero-background-color);
}
.hero.section {
    @extend %align;
    flex-wrap: wrap;
}
.hero__title {
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-text-color-white);
    text-transform: uppercase;
    @include font(26px, 900, 42px);
}
.hero__container {
    align-content: center;
}
.hero__title-wrapper {
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
}
@media screen and (min-width: 480px) {
    .hero {
        background: var(--hero-background-color);
        background-image: linear-gradient(var(--hero-background-gradient-color),
                var(--hero-background-gradient-color)),
            url('../images/images_mobile-first/hero/img_mobile@1x.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .hero.section {
        padding-top: 118px;
        padding-bottom: 118px;
        }
    
    .hero__title {
        width: 360px;
        }
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .box {
                background-image: url('img_mobile@2x.jpg');
            }
        }
}
@media screen and (min-width: 768px) {
    .hero {
        background: var(--hero-background-color);
        background-image: linear-gradient(var(--hero-background-gradient-color),
                var(--hero-background-gradient-color)),
            url('../images/images_mobile-first/hero/img_tablet@1x.jpg');
        background-repeat: no-repeat;
        background-position: center;
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .box {
            background-image: url('img_tablet@2x.jpg');
        }
    }
}
@media screen and (min-width: 1200px) {
    .hero {
        background: var(--hero-background-color);
        background-image: linear-gradient(var(--hero-background-gradient-color),
                var(--hero-background-gradient-color)),
            url('../images/images_mobile-first/hero/img_desktop@1x.jpg');
        background-repeat: no-repeat;
        background-position: center;
    }
    .hero.section {
        padding-top: 200px;
        padding-bottom: 200px;
    }
    .hero__title {
            @include font(44px, 900, 60px);
            width: 696px;
        }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .box {
            background-image: url('img_desktop@2x.jpg');
        }
    }
}








