body {
    font-family: var(--primary-font-family), sans-serif;
    color: var(--primary-text-color-dark);
    background-color: var(--primary-background-color);
}

h1,
h2,
h3,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
}

.links {
    text-decoration: none;
}

.btn {
    border-color: transparent;
}

.btn-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section {
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0;
}

@media screen and (min-width: 1200px) {
    .section {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
